<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--загружаем данные через файл myApp.properties-->
    <context:property-placeholder location="classpath:myApp.properties"/>

  <!--даем название для объекта-->
  <bean id="myPet"
        class="spring_intro.Cat">
  </bean>

  <!--помещаем этот бин в Person-->
  <bean id="myPerson"
        class="spring_intro.Person">
<!--    <constructor-arg ref="myPet"/>-->  <!--используем конструктор для добавления элемента Cat в Person-->
    <property name="pet" ref="myPet"/> <!--используем setter вместо конструктора-->

      <!--берем значения из файл myApp.properties-->
    <property name="surName" value="${person.surName}"/>
    <property name="age" value="${person.age}"/>
  </bean>

</beans>