<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- init method - выполняется сразу после создания бина (объекта)-->
    <!-- destroy method - выполняется после всех работ, если context закрыт, если scope - singleton-->
    <bean id="myPet" class="spring_intro.Dog"
          init-method="init"
          destroy-method="destrooy">
    </bean>

</beans>