<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!--даем название для объекта-->
  <bean id="myPet"
        class="spring_intro.Cat">
  </bean>

  <!--помещаем этот бин в Person-->
  <bean id="myPerson"
        class="spring_intro.Person">
<!--    <constructor-arg ref="myPet"/>-->  <!--используем конструктор для добавления элемента Cat в Person-->
    <property name="pet" ref="myPet"/> <!--используем setter вместо конструктора-->

    <property name="surName" value="Ivanov"/>
    <!--установливаем значения для setter-->
    <property name="age" value="34"/>
  </bean>

</beans>